* {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 100ms;
    scroll-behavior: smooth;
}
.nvb {
    width: 100%;
    height: 4dvh;
    background-color: maroon;
    display: flex;
    align-items: center;
    font-size: 2.25dvh;
}
.nvcntnts {
    display: flex;
    width: 50dvw;
}
.nvcntnt {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: fit-content;
    text-align: center;
    padding-left: 0.75dvw;
    padding-right: 0.75dvw;
}
.nvcntnt:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(155, 17, 17);
}
.nxtflights {
    color: white;
    font-size: 1dvh;
    width: 47dvw;
    text-align: right;
}

.hropg {
    height: 96dvh;
}

.hrotxt {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.623);
    padding: 10dvh 30dvh;
    border: 5px solid maroon;
    text-align: center;
    margin: auto;
    text-align: center;
    width: fit-content;
    font-size: 5dvh;
    font-weight: 900;
    position: relative;
    bottom: 70dvh;
    z-index: 1000;
}

/*---------------------*/
.btn {
    width: 12dvw;
    height: 7dvh;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 2.25dvh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: maroon;
    color: #f5f5f5;
    margin: auto;
    text-decoration: none;
}

.btn .icon {
    position: absolute;
    height: 4dvh;
    width: 4.5dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(3.75dvw);
}

.btn:hover .icon {
    width: 11.5dvw;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}
.btn:hover{
    background-color: rgb(155, 17, 17);
}
.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}
/*---------------------*/
.img {
    background-image: url(./Pictures/henrique-ferreira-diPCLr0n0HE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100dvw;
    height: 100dvh;
    z-index: 10;
}
.bg-img {
    height: 96dvh;
    overflow: hidden;
}

/* ------------------- */

.sect2{
    overflow: hidden;
    height: 100dvh;
    width: 100%;
    background-color: maroon;
    background-size: cover;
    background-repeat: repeat-y;
}
.txt{
    text-align: center;
    width: 85dvw;
    margin: auto;
    margin-top: 12dvh;
    font-size: 2.65dvh;
    margin-left: 5dvw;
    color: white;
}
/* ------------------- */

.Sect3{
    background-color: maroon;
    height: 100dvh;
    width: 100%;
}
.Reviews{
    display: flex;
    overflow-x: scroll;
    margin: auto;
    width: 90dvw;
}
.Card{
    background-color: whitesmoke;
    width: 21dvw;
    height: fit-content;
    margin-top: 5dvh;
    margin: 1vmax;
    padding: 1vmax;
    border-radius: 5px;
}
.card-img{
    height: 10dvw;
    width: 21dvw;
}
.card-title{
    font-size: 1.75Rem;
    font-weight: 900;
}
.card-desc{
    font-size: 0.75rem;
    width: 90%;
    margin: auto;
}